* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: white;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.background-image-container {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main {
    backdrop-filter: blur(100px);
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

main header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3em 10em 0 10em;
}

main header .navigations {
    display: flex;
    align-items: center;
    gap: 1em;
}

main header .navigations a {
    color: white;
    font-size: 1.3em;
}

main header .navigations a:hover {
    font-weight: 600;
    transition: 0.2s;
    border-bottom: 0.2em solid white;
}

main header .labels {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 1.6em;
    font-weight: 600;
}

footer {
    margin-top: auto;
    text-align: center;
    padding: 1em;
    font-size: 1.1em;
    font-weight: 600;
}

main .content {
    padding: 1em 10em 1em 10em;
}

main .content .home {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8em 0 0 30em;
}

main .content .home img {
    border-radius: 100em;
    width: 30em;
    height: 30em;
    object-fit: cover;
}

main .content .home h1 {
    text-align: end;
    font-size: 5em;
}